<!DOCTYPE html>
{% extends 'circleofcare/base.html' %}
{% load static %}

{% block header_title %}Physical Activity Log{% endblock %}
{% block header_links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.css">
{% endblock %}

{% block physical_href %}javascript:void(0){% endblock %}
{% block physical_tab %}active{% endblock %}

{% block body_block %}
    <div class="row title" id="physical">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Physical Activity Log</h1>
        </div>
    </div>

    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="0" data-wrap="false">
        <form role="form" id="physical_form" action="{% url 'circleofcare:physical_activity_log' %}" method="post">
            {% csrf_token %}
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="container-fluid item active citem" id="first-slide">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 physical">
                        <h2>What kind of exercise did you do today?</h2>

                        <div class="checkbox">
                            {{ form.running }}
                            <label for="{{ form.running.id_for_label }}">Running</label>
                        </div>
                        <div class="checkbox">
                            {{ form.walking }}
                            <label for="{{ form.walking.id_for_label }}">Walking</label>
                        </div>
                        <div class="checkbox">
                            {{ form.tennis }}
                            <label for="{{ form.tennis.id_for_label }}">Tennis</label>
                        </div>
                        <div class="checkbox">
                            {{ form.soccer }}
                            <label for="{{ form.soccer.id_for_label }}">Soccer</label>
                        </div>
                        <div class="checkbox">
                            {{ form.aerobics }}
                            <label for="{{ form.aerobics.id_for_label }}">Aerobics</label>
                        </div>
                        <div class="checkbox">
                            {{ form.yoga }}
                            <label for="{{ form.yoga.id_for_label }}">Yoga</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="{{ form.other_exercises.id_for_label }}">
                            <label for="{{ form.other_exercises.id_for_label }}">
                                {{ form.other_exercises }}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="container-fluid item citem" id="second-slide">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 physical">
                        <h2>How long did you exercise for?</h2>
                        {% for radio_input in form.exercise_duration %}
                                {{ radio_input }}<br>
                         {% comment %}   <div class="radio">
                                <input type="radio" id="{{ radio_input.id_for_label }}" name="{{ radio_input.name }}" value="{{ radio_input.choices.value }}">
                                <label for="{{ radio_input.id_for_label }}">
                                    {{ radio_input.get_exercise_duration_display }}
                                </label>
                            </div>{% endcomment %}

                        {% endfor %}
                    </div>

                </div>
            </div>
            <!-- Controls -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 arrows">
                <a id="prev-arrow" class="left carousel-control hidden" href="#carousel" data-slide="prev"><h3
                        id="prev-text">
                    Prev
                    <i class="fa fa-chevron-left"></i></h3></a>
                <a id="next-arrow" class="right carousel-control" href="#carousel" data-slide="next">
                    <h3 id="next-text"> Next <i class="fa fa-chevron-right"></i></h3></a>
                <a id="submit-check" class="right carousel-control hidden" href="javascript:void(0)"
                   data-slide="next">
                    <h3> Submit <i class="fa fa-check-circle"></i></h3></a>
            </div>
        </form>
    </div>
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'circleofcare/js/physical_activity_log.js' %}"></script>
    <script src="{% static 'circleofcare/js/carousel_script.js' %}"></script>
{% endblock %}