{% extends 'circleofcare/base.html' %}
{% load static %}

{% block header_title %}Summary{% endblock %}
{% block header_links %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="{% static 'circleofcare/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'circleofcare/css/responsive.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block summary_href %}javascript:void(0){% endblock %}
{% block summary_tab %}active{% endblock %}

{% block body_block %}
    <div class="row title" id="profile">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Summary</h1>
        </div>
    </div>


{% endblock %}

{% block js_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'circleofcare/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script src="{% static 'circleofcare/js/user_profile.js' %}"></script>
{% endblock %}

