/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .navbar-brand img {
        height: 48px;
        width: auto;
        display: block;
        margin: auto;
        padding-top: 0px;
    }

    #remove.div {
        margin-bottom: 0px;
    }

    .navbar-brand {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        width: 115px;
        height: auto;
    }
}

/* Large desktop */
@media (min-width: 980px) {
    .navbar-brand img {
        height: 60px;
        width: auto;
    }
}